{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'testapp/styles.css' %}">
    <title>{{ button_text }}</title>
</head>
<body>
    {% include 'testapp/header.html' %}
    {% if finishing %}
    <p>{{ finishing }}</p>
    {% endif %}
    {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
    {% endfor %}
	<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{{ button_text }}</button>
    </form>
    {% include 'testapp/footer.html' %}
</form>
</body>
</html>